.image {
    height: 100vh;
    width: 100vw;
}

.item {
    flex: 50%;
    margin-left: 6%;
    margin-right: 6%;
}

.mapLeft {
    flex: 20%;
    background-color: cornflowerblue;
}

.mapRight {
    flex:80%
}

.right {
    vertical-align: middle;
    margin-left: 0;
    vertical-align: middle;
    margin-bottom: 10%;
}

.planetImage {
    vertical-align: middle;
    display: inline-block;
}

p {
    text-align: justify;
    display: table-row;
    text-align-last: justify;
    font-family: "HelveticaNowText Regular";
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: "HelveticaNowText Bold";
}

section {
    height: 100vw;
    width: 100vw;
    display: flex;
}

#worldmap {
    margin: auto;
    width: 70%;
    height:50%;
    font-size: 15px;
    color: black;
    position: relative;
    display: block;
    height: 0;
    overflow: visible;
    top: 15%;
}

/*----------------------  D3 JS MAP ------------------------------*/


.names {
    stroke: #fff;
    stroke-linejoin: round;
}

/* Tooltip CSS */
.d3-tip {
    line-height: 1.5;
    font-weight: 400;
    font-family:"avenir next", Arial, sans-serif;
    padding: 6px;
    background: white;
    color: #a7c957;
    border-radius: 1px;
    pointer-events: none;
    position:absolute;
    z-index: 100000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    width: 100%;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

text{
    pointer-events:none;
}

.details{
    color: black;
}
